# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
server.log
.env

# Local screenshots
*.jpeg
*.jpg
*.png

# Personal deployment scripts (not for the shared repo)
geap-ui-cloud_shell_build_personal.sh
geap-ui-cloud_shell_deploy_personal.sh
